@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
$body_font: 'Barlow', sans-serif;
$headings_font:'Fraunces', serif;
$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$cyan: #90d4c5;
$dark_cyan:hsl(167, 40%, 24%);
$dark_blue:hsl(198, 62%, 26%);
$footer_color:hsl(168, 34%, 41%);
$bold_blue: hsl(212, 27%, 19%);
$bold_gray: hsl(213, 9%, 39%);
$dark_gray_blue: hsl(232, 10%, 55%);
$gray: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);  
$hover_color: #6ecfff;